$font-bold: 'Barlow Bold', sans-serif;
$font-light: 'Barlow Light', sans-serif;
$font-display: 'Playfair Display', serif;
$primary-color: #ff0000;
$secondary-color: #f9f9f9;
$text-color: #333;
$button-bg-color: #333;
$button-hover-bg-color: #555;
